<div class="bg-img"></div>

<div id="container">
    <div class="header-wrapper">

        <header id="header">

            <div class="content-wrapper">
                <div class="content">
                    <div class="inner-content">

                        <h1 style="margin-top:4px">{{title}}</h1>

                        <span class="sub-title">
                            <a href="/">home</a>
                        </span>

                        <div class="links">
                            <a id="email" title="hi @ this domain" target="_blank"><i class="icon-mail"></i></a>
                            <a href="https://github.com/benvan"><i class="icon-github"></i></a>
                            <a href="http://twitter.com/benvan87"><i class="icon-twitter"></i></a>
                            <a href="http://www.youtube.com/channel/UCZwA_EPQJgkUHagaq_6s2dQ"><i class="icon-youtube"></i></a>
                            <a href="http://uk.linkedin.com/pub/benjamin-van-enckevort/25/688/63a"><i class="icon-linkedin"></i></a>
                        </div>
                        <div>
                            <div class="email">best place to reach me is 'hi' @ this domain</div>
                        </div>
                    </div>

                </div>
            </div>
        </header>
    </div>
