body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    color: #333;
    background: url('img/paper_fibers.png');
    padding:0;
    margin:0;
}

.heading{
    background-color: rgba(0,0,0,0.1);
    padding: 5px;
    border-bottom: 3px solid rgb(183, 185, 204);
    height:150px;
}

h1 {
    text-shadow: 1px 1px #F1F1F1, 2px 2px rgba(0, 0, 0, 0.21)
}

.heading h2{
    font-size:35pt;
}


.heading .pic{
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 22px;
    border-radius: 50%;
    background-size: 100%;
    background-image: url('img/me.png');
    background-position: 4px -5px;
    border: 1px solid rgb(163, 163, 163);
}

.container {
    padding-right: 40px;
    padding-left:6px;
    border-top: 1px solid rgb(155, 155, 155);
    padding-top:25px;
}

a {
    text-decoration: none;
    color: inherit;
}

.surname {
    display: none;
}



.stuff a {
    height: 160px;
    vertical-align: top;
    padding: 15px;
    border-radius: 1px;
    border: 1px solid #C9C9C9;
    background-color: rgba(64,64,64,0.1);
    margin: 0px 8px 14px;
    box-shadow: 5px 5px 0 rgba(64, 64, 64, 0.07);
    cursor: pointer;
    position: relative;
    display: block;
}

.stuff a:hover {
    background-color: #252525;
}

.stuff img {
    height: 100%;
}

.stuff h4 {
    margin: 0 auto;
    text-align: center;
    font-size: 11pt;
    bottom: 5px;
    position: absolute;
    display: block;
    width: 150px;
    color: white;
    text-decoration: underline;

}

.footer {
    font-size: 9pt;
    margin-top: 35px;
    padding-top: 15px;
    text-align: center;

}

/*   --------------------------  */

#header{
    text-align: center;
}

.avatar-wrapper {
    left: 50%;
    top: -55px;
    margin: 0 0 0 -54px;
    position: absolute;
    border: 1px solid #D3D3D3;
    border-color: rgb(112, 112, 112) rgb(112, 112, 112) #D3D3D3 #D3D3D3;
    border-radius: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header-image-wrapper {
    position: relative;
    height: 350px;
    overflow: hidden;
    border-bottom: 1px solid #999;
}

.header-image-corners{
    width:100%;height:100%;

}

.header-image-holder{
    width: 750px;
    position: relative;
    display:inline-block;
    margin-top:35px; /* controls y-position of header image */
}

.header-image-holder .dummy{
    padding-top:37%; /* controls aspect ratio of header-image */
}

.header-image-holder .header-image{
    background: url('img/speakers_semi_blur.png') 50% 50% no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.header-image-wrapper .left,
.header-image-wrapper .right,
.header-image-wrapper .bottom,
.header-image-wrapper .top{
    background: url('img/bg_bottom.png') 0 0 repeat-y;
    background-size: 100% 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}
.header-image-wrapper .top{
    background-image: url('img/bg_top.png');
    top: -50%;
}
.header-image-wrapper .bottom:before,
.header-image-wrapper .bottom:after,
.header-image-wrapper .top:before,
.header-image-wrapper .top:after{
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
}
.header-image-wrapper .top:before{
    background:rgb(52,62,71);;
    left:-100%;
}
.header-image-wrapper .top:after{
    background:rgb(223,234,234);
    right:-100%;
}
.header-image-wrapper .bottom:before{
    background:rgb(64,77,86);
    left:-100%;
}
.header-image-wrapper .bottom:after{
    background:rgb(195,210,219);
    right:-100%;
}


.header-image-wrapper .right{
    background-image: url('img/bg_right.png');
    background-repeat:repeat-x;
    top: 0;
    right:-50%;
}
.header-image-wrapper .left{
    background: url('img/bg_left.png') 0 0 repeat-x;
    background-size: 100% 100%;
    top: 0;
    left:-50%;
}

.user-avatar {
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    background: #f6f6f6 50% 50% no-repeat;
    background-size: 100px 100px;
    border-radius: 50%;
    display: block;
    height: 100px;
    width: 100px;
    border: 4px solid #f6f6f6;
    position: relative;
}

#header .content-wrapper{
    border-top: 1px solid #999;
}

#header .content{
    margin-left: auto;
    margin-right: auto;
    padding: 1px 20px;
    position: relative;
    z-index: 2;
    max-width: 400px;
    min-width: 270px;
}

#header .content h1{
    font-size: 42px;
    line-height: 1;
    margin: 60px 0 0;
    word-wrap: break-word;
    box-shadow: 0 1px 0 0 rgba(253, 253, 253, 0.91);
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding-bottom: 12px;
}

.sub-title{
    margin-top:10px;
    font-size:16px;
    display:block;
    letter-spacing: 2px;
    color: #6B6B6B;
}

.stuff {
    padding: 45px 90px;
    list-style: none;
    text-align: center;
    overflow-y: auto;
}

.stuff li{
    display: block;
    margin-bottom:42px;
    min-height: 150px;
    border: 1px solid #C4C4C4;
    border-top: none;
    background-color: rgba(0, 0, 0, 0.14);
    box-shadow: 4px 4px #F1F1F1, 5px 5px rgba(0, 0, 0, 0.09);
    border-left: none;
}

.stuff li .preview{

}

.stuff li .content{

}